*{
  margin:0;
  padding:0;
}

.background-img{
  height: 100vh;
  width: auto;
}


body{
  display: flex;
}



.invalid{
  border-style: solid;
  border-color: red;
}

.valid{
  border-style: solid;
  border-color: green;
}